<section class="slider-area slider-area-background" id="home">
    <div class="container">
        <div class="col-md-6 col-sm-6 hidden-xs">
            <div class="row">
                <div class="slider-img" style="display: flex; justify-content: center;">
                    <img src="./assets/img/mobile/logoPhonePlazita.png" alt="La Plazita App" style="height: 450px;">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="slider-inner text-right">   
                    <h2>La Plazita</h2>
                    <h5>Mercar tus frutas, vegetales y granos nunca habrá sido tan facil, ¡Somos La Plazita!</h5>
                    <a href="https://play.google.com/store/apps/details?id=co.laplazita.app" target="blank"><i class="fa fa-android"></i> Descarga la app</a>
                </div>
            </div>
        </div>
    </div>
</section>