<section class="slider-area slider-area-background" id="home">
    <div class="container">
        <div class="col-md-6 col-sm-6 hidden-xs">
            <div class="row">
                <div class="slider-img">
                    <img src="./assets/img/mobile/slider-left-img.png" alt="La Plazita App">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="slider-inner text-right">   
                    <h2>La Plazita</h2>
                    <h5>La frutica, la verdurita y mucho más !</h5>
                    <a class="expand-video" href="https://www.youtube.com/watch?v=8qs2dZO6wcc"><i class="fa fa-play"></i>Watch the video</a>
                </div>
            </div>
        </div>
    </div>
</section>