<div class="achivement-area ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <img src="./assets/svg/house.svg" alt="" style="width: 50px; margin-bottom: 17px;">
                <div class="ach-single">                    
                    <p><span class="counter">200+</span></p>
                    <h5>Pedidos Entregados</h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <img src="./assets/svg/business-and-finance.svg" alt="" style="width: 50px; margin-bottom: 17px;">
                <div class="ach-single">                   
                    <span class="counter">200+</span>
                    <h5>Clientes Felices</h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <img src="./assets/svg/healthy-food.svg" alt="" style="width: 50px; margin-bottom: 17px;">
                <div class="ach-single">
                    <p><span class="counter">100+</span></p>
                    <h5>Productos Disponibles</h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <img src="./assets/svg/logowhite.png" alt="" style="width: 50px; margin-bottom: 20px;">
                <div class="ach-single">
                    <span class="counter">200+</span>
                    <h5>Canastas Felices</h5>
                </div>
            </div>
        </div>
    </div>
</div>