<div class="achivement-area ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="ach-single">
                    <div class="icon"><i class="fa fa-users"></i></div>
                    <p><span class="counter">10</span>k</p>
                    <h5>Happy Clients</h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="ach-single">
                    <div class="icon"><i class="fa fa-book"></i></div>
                    <span class="counter">978</span>
                    <h5>Projects complet</h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="ach-single">
                    <div class="icon"><i class="fa fa-coffee"></i></div>
                    <p><span class="counter">150</span>k</p>
                    <h5>Cups of coffee</h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="ach-single">
                    <div class="icon"><i class="fa fa-trophy"></i></div>
                    <span class="counter">100</span>
                    <h5>Winning awards</h5>
                </div>
            </div>
        </div>
    </div>
</div>