<section class="contact-area ptb--100" id="contact">
    <div class="container">        
        <div class="row section-title mt-20">
            <div class="col-lg-4 text-center">
                <p class="footer-message">LAS FRUTAS MÁS FRESCAS</p>
            </div>
            <div class="col-lg-4 text-center">
                <p class="footer-message">LOS VEGETALES MÁS SALUDABLES</p>
            </div>
            <div class="col-lg-4 text-center">
                <p class="footer-message">LOS GRANOS MÁS NUTRITIVOS</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="c-social">
                        <ul>
                            <li><a href="https://www.facebook.com/laplazitaco" target="blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/laplazitaco" target="blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact_info">
                        <div class="s-info">
                            <i class="fa fa-map-marker"></i>
                            <div class="meta-content">
                                <span>Dirección</span>
                                <span>Medellín - Antióquia</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact_info">
                        <div class="s-info">
                            <i class="fa fa-phone"></i>
                            <div class="meta-content">
                                <span>Telefono</span>
                                <span>+57 305 416 7219</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>