<section class="feature-area bg-gray ptb--100" id="feature">
    <div class="container">
        <div class="section-title">
            <h2>¿ Como Comprar ?</h2>
            <p>En La Plazita es muy facil comprar tus vegetales y granos!</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="ft-content rtl">
                    <div class="ft-single">
                        <img src="assets/svg/one.svg" alt="icon" width="80px">
                        <div class="meta-content">
                            <h2>Antojate de nuestros productos</h2>
                            <p>En la plazita encuentras todos los productos de la huerta que necesitas siempres frescos</p>
                        </div>
                    </div>
                    <div class="ft-single">
                        <img src="assets/svg/two.svg" alt="icon" width="80px">
                        <div class="meta-content">
                            <h2>Registrate para empezar</h2>
                            <p>Valida tu canasta, verifica tus datos y confirma tu pedido</p>
                        </div>
                    </div>
                    <div class="ft-single">
                        <img src="assets/svg/three.svg" alt="icon" width="80px">
                        <div class="meta-content">
                            <h2>Disfruta Promociones</h2>
                            <p>Aprovecha las promociones, si compras a traves de La Plazita difrutas de grandes descuentos</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm col-xs-12">
                <div class="ft-screen-img">
                    <img src="assets/img/mobile/ft-screen-img.png" alt="image">
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="ft-content">
                    <div class="ft-single">
                        <img src="assets/svg/four.svg" alt="icon" width="80px">
                        <div class="meta-content">
                            <h2>Notificamos el envío de tu compra</h2>
                            <p>Te tendremos al tanto del envio de tu compra</p>
                        </div>
                    </div>
                    <div class="ft-single">
                        <img src="assets/svg/five.svg" alt="icon" width="80px">
                        <div class="meta-content">
                            <h2>Recibimos tu pedido</h2>
                            <p>Seleccionamos los productos mas frescos para ti</p>
                        </div>
                    </div>
                    <div class="ft-single">
                        <img src="assets/svg/six.svg" alt="icon" width="80px">
                        <div class="meta-content">
                            <h2>Disfrutalo</h2>
                            <p>Recibe tus productos y disfrutalos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
