<div class="about-area ptb--100">
    <div class="container">
        <div class="section-title">
            <h2>Recuerda</h2>
            <p></p>
        </div>
        <div class="row d-flex flex-center">
            <div class="col-md-6 col-sm-6 hidden-xs">
                <div class="about-left-img">
                    <img src="assets/img/about/abt-left-img.png" alt="image">
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 d-flex flex-center">
                <div class="about-content">
                    <p>La Plazita facilita la forma de pagar tus productos, te ofrecemos alternativas como <strong>transferencias</strong> y <strong>contraentrega</strong>.</p>
                    <p>Las compras superiores a $ 70.000 COP el domicilio sera completamente gratis, pedido minimo es de $ 30.000 COP</p>
                </div>
            </div>
        </div>
    </div>
</div>