<div class="about-area ptb--100">
    <div class="container">
        <div class="section-title">
            <h2>About App</h2>
            <p>Nemo enim ipsam voluptatem quia voluptas sit </p>
        </div>
        <div class="row d-flex flex-center">
            <div class="col-md-6 col-sm-6 hidden-xs">
                <div class="about-left-img">
                    <img src="assets/img/about/abt-left-img.png" alt="image">
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 d-flex flex-center">
                <div class="about-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed  eiuiosmod terttmpor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. doliuor in reprehenderit in voluptate velit esse  dolore eu fugiat nulla pariatur. cdatat non proident</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tuiempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                </div>
            </div>
        </div>
    </div>
</div>