<section class="screen-area bg-gray ptb--100" id="screenshot">
    <div class="container">
        <div class="section-title">
            <h2>Screenshot</h2>
            <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
        </div>
        <img class="screen-img" src="./assets/img/mobile/screen-slider.png" alt="mobile screen">
        <div class="screen-slider owl-carousel">
            <div class="single-screen">
                <img src="./assets/img/mobile/screen-slider/screen1.jpg" alt="mobile screen">
            </div>
            <div class="single-screen">
                <img src="./assets/img/mobile/screen-slider/screen2.jpg" alt="mobile screen">
            </div>
            <div class="single-screen">
                <img src="./assets/img/mobile/screen-slider/screen3.jpg" alt="mobile screen">
            </div>
            <div class="single-screen">
                <img src="./assets/img/mobile/screen-slider/screen4.jpg" alt="mobile screen">
            </div>
            <div class="single-screen">
                <img src="./assets/img/mobile/screen-slider/screen5.jpg" alt="mobile screen">
            </div>
            <div class="single-screen">
                <img src="./assets/img/mobile/screen-slider/screen3.jpg" alt="mobile screen">
            </div>
            <div class="single-screen">
                <img src="./assets/img/mobile/screen-slider/screen4.jpg" alt="mobile screen">
            </div>
        </div>
    </div>
</section>
