<div class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="service-single">
                    <img src="assets/svg/fruit.svg" alt="service image">
                    <h2>Variedad</h2>
                    <p>Encuentra siempre productos de temporada</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                <div class="service-single">
                    <img src="assets/svg/logoPlazita.svg" alt="service image" style="height: 150px;">
                    <h2>Haz tu pedido</h2>
                    <p>En cada pedido recibe tu ñapita</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                <div class="service-single">
                    <img src="assets/svg/dieta.svg" alt="service image">
                    <h2>Como lo quieras</h2>
                    <p>Escoge el grado de maduración de tu producto</p>
                </div>
            </div>
        </div>
    </div>
</div>
