<div class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="service-single">
                    <img src="assets/img/service/service-img1.png" alt="service image">
                    <h2>Call service</h2>
                    <p>Take The initative to call</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                <div class="service-single">
                    <img src="assets/img/service/service-img2.png" alt="service image">
                    <h2>Active warning</h2>
                    <p>Timely detection of accidents</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 col-6">
                <div class="service-single">
                    <img src="assets/img/service/service-img3.png" alt="service image">
                    <h2>Care plan</h2>
                    <p>The care content is pushed</p>
                </div>
            </div>
        </div>
    </div>
</div>
